@font-face {
    font-family: 'philosopher';
    src: url('./components/fonts/philosopher-regular-webfont.woff2') format('woff2'),
         url('./components/fonts/philosopher-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muli';
    src: url('./components/fonts/muli-webfont.woff2') format('woff2'),
         url('./components/fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulisemibold';
    src: url('./components/fonts/muli-semibold-webfont.woff2') format('woff2'),
         url('./components/fonts/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  height: 100%;
}
.App {
  text-align: center;
  background-image: url("./components/images/lime-bg.jpg");
  height: 70em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.container-fluid{
  background-image: url("./components/images/lime-bg.jpg");
  height: 4000em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
  margin: 2em;
  padding: 0.5em;
  max-width: 18em;
  ul{
    li {
      list-style: none;
      text-align: left;
    }
  }
}
.main{
  display: flex;
  flex-direction: column;
}
.jumbotron{
  background-image: url("./components/images/jumbo-bg-sm.jpg");
  color: #2F4F4F;
  text-shadow: 1px 1px #FFF;
}

.content{
  display: flex;
  flex-direction: row;
}
.side{
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  height: 100%;
}
.logo{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 12em;
  height: 3em;
}
.errorHandling{
  color: #e02323;
  text-shadow: 1px 1px darkslategrey;
  font-size: 2em;
  font-weight: 700;
}
.searchText{
  color: #2F4F4F;
  text-shadow: 1px 1px #FFF;
}
div{
  font-family: muli;
}
h1, h2, h3, h4, h5, h6{
  font-family: philosopher;
}
a{
  color: #000;
}
